VITE_DEFAULT_ADMIN_USERNAME=
VITE_DEFAULT_ADMIN_PASSWORD=
VITE_DEFAULT_ADMIN_NAME=Administrateur
VITE_PASSWORD_SALT=change-me
GOOGLE_DRIVE_CLIENT_ID=
GOOGLE_DRIVE_CLIENT_SECRET=
GOOGLE_DRIVE_TARGET_EMAIL=
